:root {
    --img-1-1: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/crate.png");
    --bg: rgb( 27,  31,  56);
    --0:  rgb( 74,  42,  56);
    --1:  rgb(166,  68, 186);
    --2:  rgb(148,  98, 195);
    --3:  rgb(107,  93, 195);
    --4:  rgb( 75,  87, 195);
    --5:  rgb( 89, 122, 195);
    --6:  rgb( 42, 122, 195);
    --7:  rgb( 53, 149, 195);
    --8:  rgb( 84, 175, 195);
    --9:  rgb(132, 187, 195);
}
table {
    border-spacing: 2px !important;
    border-collapse: separate !important;
}
th {
    display: none;
}
tr td:empty {
    padding: 0;
    min-width: 2ch;
    background: transparent;
    border: none;
}
td::after {
    content: "";
    background-size: 100% 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
td {
    position: relative;
    border-radius: 1ch;
    --color: var(--0);
    --frac: 9;
    --percentage: calc(100% - var(--frac) * (100% / 9));
    background: linear-gradient(
        var(--bg) var(--percentage), 
        var(--color) var(--percentage)
    );
    color: transparent;
}
tr:nth-child(1) td:nth-child(1)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/wood.png");
}
h1[id^="wood"][id$="0"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--0);
--frac: 0;
}
h1[id^="wood"][id$="1"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--1);
--frac: 1;
}
h1[id^="wood"][id$="2"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--2);
--frac: 2;
}
h1[id^="wood"][id$="3"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--3);
--frac: 3;
}
h1[id^="wood"][id$="4"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--4);
--frac: 4;
}
h1[id^="wood"][id$="5"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--5);
--frac: 5;
}
h1[id^="wood"][id$="6"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--6);
--frac: 6;
}
h1[id^="wood"][id$="7"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--7);
--frac: 7;
}
h1[id^="wood"][id$="8"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--8);
--frac: 8;
}
h1[id^="wood"][id$="9"] ~table tr:nth-child(1) td:nth-child(1) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(1)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="wood-2"][id$="0"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--0);
--frac: 0;
}
h1[id^="wood-2"][id$="1"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--1);
--frac: 1;
}
h1[id^="wood-2"][id$="2"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--2);
--frac: 2;
}
h1[id^="wood-2"][id$="3"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--3);
--frac: 3;
}
h1[id^="wood-2"][id$="4"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--4);
--frac: 4;
}
h1[id^="wood-2"][id$="5"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--5);
--frac: 5;
}
h1[id^="wood-2"][id$="6"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--6);
--frac: 6;
}
h1[id^="wood-2"][id$="7"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--7);
--frac: 7;
}
h1[id^="wood-2"][id$="8"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--8);
--frac: 8;
}
h1[id^="wood-2"][id$="9"] ~table tr:nth-child(2) td:nth-child(1) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(1)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="wood-3"][id$="0"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--0);
--frac: 0;
}
h1[id^="wood-3"][id$="1"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--1);
--frac: 1;
}
h1[id^="wood-3"][id$="2"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--2);
--frac: 2;
}
h1[id^="wood-3"][id$="3"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--3);
--frac: 3;
}
h1[id^="wood-3"][id$="4"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--4);
--frac: 4;
}
h1[id^="wood-3"][id$="5"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--5);
--frac: 5;
}
h1[id^="wood-3"][id$="6"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--6);
--frac: 6;
}
h1[id^="wood-3"][id$="7"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--7);
--frac: 7;
}
h1[id^="wood-3"][id$="8"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--8);
--frac: 8;
}
h1[id^="wood-3"][id$="9"] ~table tr:nth-child(3) td:nth-child(1) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(1)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="wood-4"][id$="0"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--0);
--frac: 0;
}
h1[id^="wood-4"][id$="1"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--1);
--frac: 1;
}
h1[id^="wood-4"][id$="2"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--2);
--frac: 2;
}
h1[id^="wood-4"][id$="3"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--3);
--frac: 3;
}
h1[id^="wood-4"][id$="4"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--4);
--frac: 4;
}
h1[id^="wood-4"][id$="5"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--5);
--frac: 5;
}
h1[id^="wood-4"][id$="6"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--6);
--frac: 6;
}
h1[id^="wood-4"][id$="7"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--7);
--frac: 7;
}
h1[id^="wood-4"][id$="8"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--8);
--frac: 8;
}
h1[id^="wood-4"][id$="9"] ~table tr:nth-child(4) td:nth-child(1) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(2)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="wood-5"][id$="0"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--0);
--frac: 0;
}
h1[id^="wood-5"][id$="1"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--1);
--frac: 1;
}
h1[id^="wood-5"][id$="2"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--2);
--frac: 2;
}
h1[id^="wood-5"][id$="3"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--3);
--frac: 3;
}
h1[id^="wood-5"][id$="4"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--4);
--frac: 4;
}
h1[id^="wood-5"][id$="5"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--5);
--frac: 5;
}
h1[id^="wood-5"][id$="6"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--6);
--frac: 6;
}
h1[id^="wood-5"][id$="7"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--7);
--frac: 7;
}
h1[id^="wood-5"][id$="8"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--8);
--frac: 8;
}
h1[id^="wood-5"][id$="9"] ~table tr:nth-child(1) td:nth-child(2) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(2)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="wood-6"][id$="0"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--0);
--frac: 0;
}
h1[id^="wood-6"][id$="1"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--1);
--frac: 1;
}
h1[id^="wood-6"][id$="2"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--2);
--frac: 2;
}
h1[id^="wood-6"][id$="3"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--3);
--frac: 3;
}
h1[id^="wood-6"][id$="4"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--4);
--frac: 4;
}
h1[id^="wood-6"][id$="5"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--5);
--frac: 5;
}
h1[id^="wood-6"][id$="6"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--6);
--frac: 6;
}
h1[id^="wood-6"][id$="7"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--7);
--frac: 7;
}
h1[id^="wood-6"][id$="8"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--8);
--frac: 8;
}
h1[id^="wood-6"][id$="9"] ~table tr:nth-child(2) td:nth-child(2) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(2)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/barrel.png");
}
h1[id^="barrel"][id$="0"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--0);
--frac: 0;
}
h1[id^="barrel"][id$="1"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--1);
--frac: 1;
}
h1[id^="barrel"][id$="2"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--2);
--frac: 2;
}
h1[id^="barrel"][id$="3"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--3);
--frac: 3;
}
h1[id^="barrel"][id$="4"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--4);
--frac: 4;
}
h1[id^="barrel"][id$="5"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--5);
--frac: 5;
}
h1[id^="barrel"][id$="6"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--6);
--frac: 6;
}
h1[id^="barrel"][id$="7"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--7);
--frac: 7;
}
h1[id^="barrel"][id$="8"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--8);
--frac: 8;
}
h1[id^="barrel"][id$="9"] ~table tr:nth-child(3) td:nth-child(2) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(2)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/hay_bale.png");
}
h1[id^="hay-bale"][id$="0"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--0);
--frac: 0;
}
h1[id^="hay-bale"][id$="1"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--1);
--frac: 1;
}
h1[id^="hay-bale"][id$="2"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--2);
--frac: 2;
}
h1[id^="hay-bale"][id$="3"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--3);
--frac: 3;
}
h1[id^="hay-bale"][id$="4"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--4);
--frac: 4;
}
h1[id^="hay-bale"][id$="5"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--5);
--frac: 5;
}
h1[id^="hay-bale"][id$="6"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--6);
--frac: 6;
}
h1[id^="hay-bale"][id$="7"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--7);
--frac: 7;
}
h1[id^="hay-bale"][id$="8"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--8);
--frac: 8;
}
h1[id^="hay-bale"][id$="9"] ~table tr:nth-child(4) td:nth-child(2) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(3)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/honey.png");
}
h1[id^="honey"][id$="0"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--0);
--frac: 0;
}
h1[id^="honey"][id$="1"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--1);
--frac: 1;
}
h1[id^="honey"][id$="2"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--2);
--frac: 2;
}
h1[id^="honey"][id$="3"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--3);
--frac: 3;
}
h1[id^="honey"][id$="4"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--4);
--frac: 4;
}
h1[id^="honey"][id$="5"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--5);
--frac: 5;
}
h1[id^="honey"][id$="6"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--6);
--frac: 6;
}
h1[id^="honey"][id$="7"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--7);
--frac: 7;
}
h1[id^="honey"][id$="8"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--8);
--frac: 8;
}
h1[id^="honey"][id$="9"] ~table tr:nth-child(1) td:nth-child(3) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(3)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/coin.png");
}
h1[id^="coin"][id$="0"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--0);
--frac: 0;
}
h1[id^="coin"][id$="1"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--1);
--frac: 1;
}
h1[id^="coin"][id$="2"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--2);
--frac: 2;
}
h1[id^="coin"][id$="3"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--3);
--frac: 3;
}
h1[id^="coin"][id$="4"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--4);
--frac: 4;
}
h1[id^="coin"][id$="5"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--5);
--frac: 5;
}
h1[id^="coin"][id$="6"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--6);
--frac: 6;
}
h1[id^="coin"][id$="7"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--7);
--frac: 7;
}
h1[id^="coin"][id$="8"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--8);
--frac: 8;
}
h1[id^="coin"][id$="9"] ~table tr:nth-child(2) td:nth-child(3) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(3)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/slowatch.png");
}
h1[id^="slowatch"][id$="0"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--0);
--frac: 0;
}
h1[id^="slowatch"][id$="1"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--1);
--frac: 1;
}
h1[id^="slowatch"][id$="2"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--2);
--frac: 2;
}
h1[id^="slowatch"][id$="3"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--3);
--frac: 3;
}
h1[id^="slowatch"][id$="4"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--4);
--frac: 4;
}
h1[id^="slowatch"][id$="5"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--5);
--frac: 5;
}
h1[id^="slowatch"][id$="6"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--6);
--frac: 6;
}
h1[id^="slowatch"][id$="7"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--7);
--frac: 7;
}
h1[id^="slowatch"][id$="8"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--8);
--frac: 8;
}
h1[id^="slowatch"][id$="9"] ~table tr:nth-child(3) td:nth-child(3) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(3)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/bomb.png");
}
h1[id^="bomb"][id$="0"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--0);
--frac: 0;
}
h1[id^="bomb"][id$="1"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--1);
--frac: 1;
}
h1[id^="bomb"][id$="2"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--2);
--frac: 2;
}
h1[id^="bomb"][id$="3"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--3);
--frac: 3;
}
h1[id^="bomb"][id$="4"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--4);
--frac: 4;
}
h1[id^="bomb"][id$="5"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--5);
--frac: 5;
}
h1[id^="bomb"][id$="6"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--6);
--frac: 6;
}
h1[id^="bomb"][id$="7"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--7);
--frac: 7;
}
h1[id^="bomb"][id$="8"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--8);
--frac: 8;
}
h1[id^="bomb"][id$="9"] ~table tr:nth-child(4) td:nth-child(3) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(4)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/mini_bomb.png");
}
h1[id^="mini-bomb"][id$="0"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--0);
--frac: 0;
}
h1[id^="mini-bomb"][id$="1"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--1);
--frac: 1;
}
h1[id^="mini-bomb"][id$="2"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--2);
--frac: 2;
}
h1[id^="mini-bomb"][id$="3"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--3);
--frac: 3;
}
h1[id^="mini-bomb"][id$="4"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--4);
--frac: 4;
}
h1[id^="mini-bomb"][id$="5"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--5);
--frac: 5;
}
h1[id^="mini-bomb"][id$="6"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--6);
--frac: 6;
}
h1[id^="mini-bomb"][id$="7"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--7);
--frac: 7;
}
h1[id^="mini-bomb"][id$="8"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--8);
--frac: 8;
}
h1[id^="mini-bomb"][id$="9"] ~table tr:nth-child(1) td:nth-child(4) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(4)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/mega_bomb.png");
}
h1[id^="mega-bomb"][id$="0"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--0);
--frac: 0;
}
h1[id^="mega-bomb"][id$="1"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--1);
--frac: 1;
}
h1[id^="mega-bomb"][id$="2"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--2);
--frac: 2;
}
h1[id^="mega-bomb"][id$="3"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--3);
--frac: 3;
}
h1[id^="mega-bomb"][id$="4"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--4);
--frac: 4;
}
h1[id^="mega-bomb"][id$="5"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--5);
--frac: 5;
}
h1[id^="mega-bomb"][id$="6"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--6);
--frac: 6;
}
h1[id^="mega-bomb"][id$="7"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--7);
--frac: 7;
}
h1[id^="mega-bomb"][id$="8"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--8);
--frac: 8;
}
h1[id^="mega-bomb"][id$="9"] ~table tr:nth-child(2) td:nth-child(4) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(4)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/jetpack.png");
}
h1[id^="jetpack"][id$="0"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--0);
--frac: 0;
}
h1[id^="jetpack"][id$="1"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--1);
--frac: 1;
}
h1[id^="jetpack"][id$="2"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--2);
--frac: 2;
}
h1[id^="jetpack"][id$="3"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--3);
--frac: 3;
}
h1[id^="jetpack"][id$="4"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--4);
--frac: 4;
}
h1[id^="jetpack"][id$="5"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--5);
--frac: 5;
}
h1[id^="jetpack"][id$="6"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--6);
--frac: 6;
}
h1[id^="jetpack"][id$="7"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--7);
--frac: 7;
}
h1[id^="jetpack"][id$="8"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--8);
--frac: 8;
}
h1[id^="jetpack"][id$="9"] ~table tr:nth-child(3) td:nth-child(4) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(4)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/jetpack_dispenser.png");
}
h1[id^="jetpack-dispenser"][id$="0"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--0);
--frac: 0;
}
h1[id^="jetpack-dispenser"][id$="1"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--1);
--frac: 1;
}
h1[id^="jetpack-dispenser"][id$="2"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--2);
--frac: 2;
}
h1[id^="jetpack-dispenser"][id$="3"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--3);
--frac: 3;
}
h1[id^="jetpack-dispenser"][id$="4"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--4);
--frac: 4;
}
h1[id^="jetpack-dispenser"][id$="5"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--5);
--frac: 5;
}
h1[id^="jetpack-dispenser"][id$="6"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--6);
--frac: 6;
}
h1[id^="jetpack-dispenser"][id$="7"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--7);
--frac: 7;
}
h1[id^="jetpack-dispenser"][id$="8"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--8);
--frac: 8;
}
h1[id^="jetpack-dispenser"][id$="9"] ~table tr:nth-child(4) td:nth-child(4) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(5)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/l_girder.png");
}
h1[id^="l-girder"][id$="0"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--0);
--frac: 0;
}
h1[id^="l-girder"][id$="1"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--1);
--frac: 1;
}
h1[id^="l-girder"][id$="2"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--2);
--frac: 2;
}
h1[id^="l-girder"][id$="3"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--3);
--frac: 3;
}
h1[id^="l-girder"][id$="4"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--4);
--frac: 4;
}
h1[id^="l-girder"][id$="5"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--5);
--frac: 5;
}
h1[id^="l-girder"][id$="6"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--6);
--frac: 6;
}
h1[id^="l-girder"][id$="7"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--7);
--frac: 7;
}
h1[id^="l-girder"][id$="8"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--8);
--frac: 8;
}
h1[id^="l-girder"][id$="9"] ~table tr:nth-child(1) td:nth-child(5) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(5)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/stairs.png");
}
h1[id^="stairs"][id$="0"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--0);
--frac: 0;
}
h1[id^="stairs"][id$="1"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--1);
--frac: 1;
}
h1[id^="stairs"][id$="2"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--2);
--frac: 2;
}
h1[id^="stairs"][id$="3"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--3);
--frac: 3;
}
h1[id^="stairs"][id$="4"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--4);
--frac: 4;
}
h1[id^="stairs"][id$="5"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--5);
--frac: 5;
}
h1[id^="stairs"][id$="6"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--6);
--frac: 6;
}
h1[id^="stairs"][id$="7"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--7);
--frac: 7;
}
h1[id^="stairs"][id$="8"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--8);
--frac: 8;
}
h1[id^="stairs"][id$="9"] ~table tr:nth-child(2) td:nth-child(5) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(5)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/scaffold.png");
}
h1[id^="scaffold"][id$="0"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--0);
--frac: 0;
}
h1[id^="scaffold"][id$="1"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--1);
--frac: 1;
}
h1[id^="scaffold"][id$="2"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--2);
--frac: 2;
}
h1[id^="scaffold"][id$="3"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--3);
--frac: 3;
}
h1[id^="scaffold"][id$="4"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--4);
--frac: 4;
}
h1[id^="scaffold"][id$="5"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--5);
--frac: 5;
}
h1[id^="scaffold"][id$="6"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--6);
--frac: 6;
}
h1[id^="scaffold"][id$="7"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--7);
--frac: 7;
}
h1[id^="scaffold"][id$="8"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--8);
--frac: 8;
}
h1[id^="scaffold"][id$="9"] ~table tr:nth-child(3) td:nth-child(5) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(5)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/crumbling_block.png");
}
h1[id^="crumbling-block"][id$="0"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--0);
--frac: 0;
}
h1[id^="crumbling-block"][id$="1"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--1);
--frac: 1;
}
h1[id^="crumbling-block"][id$="2"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--2);
--frac: 2;
}
h1[id^="crumbling-block"][id$="3"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--3);
--frac: 3;
}
h1[id^="crumbling-block"][id$="4"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--4);
--frac: 4;
}
h1[id^="crumbling-block"][id$="5"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--5);
--frac: 5;
}
h1[id^="crumbling-block"][id$="6"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--6);
--frac: 6;
}
h1[id^="crumbling-block"][id$="7"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--7);
--frac: 7;
}
h1[id^="crumbling-block"][id$="8"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--8);
--frac: 8;
}
h1[id^="crumbling-block"][id$="9"] ~table tr:nth-child(4) td:nth-child(5) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(6)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="crumbling-block-z"][id$="0"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--0);
--frac: 0;
}
h1[id^="crumbling-block-z"][id$="1"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--1);
--frac: 1;
}
h1[id^="crumbling-block-z"][id$="2"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--2);
--frac: 2;
}
h1[id^="crumbling-block-z"][id$="3"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--3);
--frac: 3;
}
h1[id^="crumbling-block-z"][id$="4"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--4);
--frac: 4;
}
h1[id^="crumbling-block-z"][id$="5"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--5);
--frac: 5;
}
h1[id^="crumbling-block-z"][id$="6"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--6);
--frac: 6;
}
h1[id^="crumbling-block-z"][id$="7"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--7);
--frac: 7;
}
h1[id^="crumbling-block-z"][id$="8"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--8);
--frac: 8;
}
h1[id^="crumbling-block-z"][id$="9"] ~table tr:nth-child(1) td:nth-child(6) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(6)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="crumbling-block-l"][id$="0"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--0);
--frac: 0;
}
h1[id^="crumbling-block-l"][id$="1"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--1);
--frac: 1;
}
h1[id^="crumbling-block-l"][id$="2"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--2);
--frac: 2;
}
h1[id^="crumbling-block-l"][id$="3"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--3);
--frac: 3;
}
h1[id^="crumbling-block-l"][id$="4"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--4);
--frac: 4;
}
h1[id^="crumbling-block-l"][id$="5"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--5);
--frac: 5;
}
h1[id^="crumbling-block-l"][id$="6"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--6);
--frac: 6;
}
h1[id^="crumbling-block-l"][id$="7"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--7);
--frac: 7;
}
h1[id^="crumbling-block-l"][id$="8"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--8);
--frac: 8;
}
h1[id^="crumbling-block-l"][id$="9"] ~table tr:nth-child(2) td:nth-child(6) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(6)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="spikeball"][id$="0"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--0);
--frac: 0;
}
h1[id^="spikeball"][id$="1"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--1);
--frac: 1;
}
h1[id^="spikeball"][id$="2"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--2);
--frac: 2;
}
h1[id^="spikeball"][id$="3"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--3);
--frac: 3;
}
h1[id^="spikeball"][id$="4"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--4);
--frac: 4;
}
h1[id^="spikeball"][id$="5"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--5);
--frac: 5;
}
h1[id^="spikeball"][id$="6"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--6);
--frac: 6;
}
h1[id^="spikeball"][id$="7"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--7);
--frac: 7;
}
h1[id^="spikeball"][id$="8"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--8);
--frac: 8;
}
h1[id^="spikeball"][id$="9"] ~table tr:nth-child(3) td:nth-child(6) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(6)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/flipping_block.png");
}
h1[id^="flipping-block"][id$="0"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--0);
--frac: 0;
}
h1[id^="flipping-block"][id$="1"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--1);
--frac: 1;
}
h1[id^="flipping-block"][id$="2"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--2);
--frac: 2;
}
h1[id^="flipping-block"][id$="3"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--3);
--frac: 3;
}
h1[id^="flipping-block"][id$="4"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--4);
--frac: 4;
}
h1[id^="flipping-block"][id$="5"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--5);
--frac: 5;
}
h1[id^="flipping-block"][id$="6"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--6);
--frac: 6;
}
h1[id^="flipping-block"][id$="7"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--7);
--frac: 7;
}
h1[id^="flipping-block"][id$="8"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--8);
--frac: 8;
}
h1[id^="flipping-block"][id$="9"] ~table tr:nth-child(4) td:nth-child(6) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(7)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/tennisball_shooter.png");
}
h1[id^="tennisball-shooter"][id$="0"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--0);
--frac: 0;
}
h1[id^="tennisball-shooter"][id$="1"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--1);
--frac: 1;
}
h1[id^="tennisball-shooter"][id$="2"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--2);
--frac: 2;
}
h1[id^="tennisball-shooter"][id$="3"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--3);
--frac: 3;
}
h1[id^="tennisball-shooter"][id$="4"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--4);
--frac: 4;
}
h1[id^="tennisball-shooter"][id$="5"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--5);
--frac: 5;
}
h1[id^="tennisball-shooter"][id$="6"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--6);
--frac: 6;
}
h1[id^="tennisball-shooter"][id$="7"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--7);
--frac: 7;
}
h1[id^="tennisball-shooter"][id$="8"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--8);
--frac: 8;
}
h1[id^="tennisball-shooter"][id$="9"] ~table tr:nth-child(1) td:nth-child(7) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(7)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/wrecking_ball.png");
}
h1[id^="wrecking-ball"][id$="0"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--0);
--frac: 0;
}
h1[id^="wrecking-ball"][id$="1"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--1);
--frac: 1;
}
h1[id^="wrecking-ball"][id$="2"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--2);
--frac: 2;
}
h1[id^="wrecking-ball"][id$="3"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--3);
--frac: 3;
}
h1[id^="wrecking-ball"][id$="4"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--4);
--frac: 4;
}
h1[id^="wrecking-ball"][id$="5"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--5);
--frac: 5;
}
h1[id^="wrecking-ball"][id$="6"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--6);
--frac: 6;
}
h1[id^="wrecking-ball"][id$="7"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--7);
--frac: 7;
}
h1[id^="wrecking-ball"][id$="8"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--8);
--frac: 8;
}
h1[id^="wrecking-ball"][id$="9"] ~table tr:nth-child(2) td:nth-child(7) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(7)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/spinning_saw.png");
}
h1[id^="spinning-saw"][id$="0"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--0);
--frac: 0;
}
h1[id^="spinning-saw"][id$="1"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--1);
--frac: 1;
}
h1[id^="spinning-saw"][id$="2"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--2);
--frac: 2;
}
h1[id^="spinning-saw"][id$="3"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--3);
--frac: 3;
}
h1[id^="spinning-saw"][id$="4"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--4);
--frac: 4;
}
h1[id^="spinning-saw"][id$="5"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--5);
--frac: 5;
}
h1[id^="spinning-saw"][id$="6"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--6);
--frac: 6;
}
h1[id^="spinning-saw"][id$="7"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--7);
--frac: 7;
}
h1[id^="spinning-saw"][id$="8"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--8);
--frac: 8;
}
h1[id^="spinning-saw"][id$="9"] ~table tr:nth-child(3) td:nth-child(7) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(7)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/trigger_spikes.png");
}
h1[id^="trigger-spikes"][id$="0"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--0);
--frac: 0;
}
h1[id^="trigger-spikes"][id$="1"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--1);
--frac: 1;
}
h1[id^="trigger-spikes"][id$="2"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--2);
--frac: 2;
}
h1[id^="trigger-spikes"][id$="3"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--3);
--frac: 3;
}
h1[id^="trigger-spikes"][id$="4"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--4);
--frac: 4;
}
h1[id^="trigger-spikes"][id$="5"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--5);
--frac: 5;
}
h1[id^="trigger-spikes"][id$="6"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--6);
--frac: 6;
}
h1[id^="trigger-spikes"][id$="7"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--7);
--frac: 7;
}
h1[id^="trigger-spikes"][id$="8"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--8);
--frac: 8;
}
h1[id^="trigger-spikes"][id$="9"] ~table tr:nth-child(4) td:nth-child(7) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(8)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/crossbow.png");
}
h1[id^="crossbow"][id$="0"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--0);
--frac: 0;
}
h1[id^="crossbow"][id$="1"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--1);
--frac: 1;
}
h1[id^="crossbow"][id$="2"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--2);
--frac: 2;
}
h1[id^="crossbow"][id$="3"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--3);
--frac: 3;
}
h1[id^="crossbow"][id$="4"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--4);
--frac: 4;
}
h1[id^="crossbow"][id$="5"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--5);
--frac: 5;
}
h1[id^="crossbow"][id$="6"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--6);
--frac: 6;
}
h1[id^="crossbow"][id$="7"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--7);
--frac: 7;
}
h1[id^="crossbow"][id$="8"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--8);
--frac: 8;
}
h1[id^="crossbow"][id$="9"] ~table tr:nth-child(1) td:nth-child(8) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(8)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/boxing_glove.png");
}
h1[id^="boxing-glove"][id$="0"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--0);
--frac: 0;
}
h1[id^="boxing-glove"][id$="1"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--1);
--frac: 1;
}
h1[id^="boxing-glove"][id$="2"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--2);
--frac: 2;
}
h1[id^="boxing-glove"][id$="3"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--3);
--frac: 3;
}
h1[id^="boxing-glove"][id$="4"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--4);
--frac: 4;
}
h1[id^="boxing-glove"][id$="5"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--5);
--frac: 5;
}
h1[id^="boxing-glove"][id$="6"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--6);
--frac: 6;
}
h1[id^="boxing-glove"][id$="7"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--7);
--frac: 7;
}
h1[id^="boxing-glove"][id$="8"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--8);
--frac: 8;
}
h1[id^="boxing-glove"][id$="9"] ~table tr:nth-child(2) td:nth-child(8) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(8)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/linear_saw.png");
}
h1[id^="linear-saw"][id$="0"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--0);
--frac: 0;
}
h1[id^="linear-saw"][id$="1"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--1);
--frac: 1;
}
h1[id^="linear-saw"][id$="2"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--2);
--frac: 2;
}
h1[id^="linear-saw"][id$="3"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--3);
--frac: 3;
}
h1[id^="linear-saw"][id$="4"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--4);
--frac: 4;
}
h1[id^="linear-saw"][id$="5"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--5);
--frac: 5;
}
h1[id^="linear-saw"][id$="6"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--6);
--frac: 6;
}
h1[id^="linear-saw"][id$="7"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--7);
--frac: 7;
}
h1[id^="linear-saw"][id$="8"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--8);
--frac: 8;
}
h1[id^="linear-saw"][id$="9"] ~table tr:nth-child(3) td:nth-child(8) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(8)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/magnet_platform.png");
}
h1[id^="magnet-platform"][id$="0"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--0);
--frac: 0;
}
h1[id^="magnet-platform"][id$="1"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--1);
--frac: 1;
}
h1[id^="magnet-platform"][id$="2"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--2);
--frac: 2;
}
h1[id^="magnet-platform"][id$="3"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--3);
--frac: 3;
}
h1[id^="magnet-platform"][id$="4"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--4);
--frac: 4;
}
h1[id^="magnet-platform"][id$="5"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--5);
--frac: 5;
}
h1[id^="magnet-platform"][id$="6"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--6);
--frac: 6;
}
h1[id^="magnet-platform"][id$="7"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--7);
--frac: 7;
}
h1[id^="magnet-platform"][id$="8"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--8);
--frac: 8;
}
h1[id^="magnet-platform"][id$="9"] ~table tr:nth-child(4) td:nth-child(8) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(9)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/paper_airplane_shooter.png");
}
h1[id^="paper-airplane-shooter"][id$="0"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--0);
--frac: 0;
}
h1[id^="paper-airplane-shooter"][id$="1"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--1);
--frac: 1;
}
h1[id^="paper-airplane-shooter"][id$="2"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--2);
--frac: 2;
}
h1[id^="paper-airplane-shooter"][id$="3"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--3);
--frac: 3;
}
h1[id^="paper-airplane-shooter"][id$="4"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--4);
--frac: 4;
}
h1[id^="paper-airplane-shooter"][id$="5"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--5);
--frac: 5;
}
h1[id^="paper-airplane-shooter"][id$="6"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--6);
--frac: 6;
}
h1[id^="paper-airplane-shooter"][id$="7"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--7);
--frac: 7;
}
h1[id^="paper-airplane-shooter"][id$="8"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--8);
--frac: 8;
}
h1[id^="paper-airplane-shooter"][id$="9"] ~table tr:nth-child(1) td:nth-child(9) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(9)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/cannon.png");
}
h1[id^="cannon"][id$="0"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--0);
--frac: 0;
}
h1[id^="cannon"][id$="1"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--1);
--frac: 1;
}
h1[id^="cannon"][id$="2"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--2);
--frac: 2;
}
h1[id^="cannon"][id$="3"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--3);
--frac: 3;
}
h1[id^="cannon"][id$="4"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--4);
--frac: 4;
}
h1[id^="cannon"][id$="5"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--5);
--frac: 5;
}
h1[id^="cannon"][id$="6"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--6);
--frac: 6;
}
h1[id^="cannon"][id$="7"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--7);
--frac: 7;
}
h1[id^="cannon"][id$="8"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--8);
--frac: 8;
}
h1[id^="cannon"][id$="9"] ~table tr:nth-child(2) td:nth-child(9) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(9)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/hockey_shooter.png");
}
h1[id^="hockey-shooter"][id$="0"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--0);
--frac: 0;
}
h1[id^="hockey-shooter"][id$="1"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--1);
--frac: 1;
}
h1[id^="hockey-shooter"][id$="2"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--2);
--frac: 2;
}
h1[id^="hockey-shooter"][id$="3"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--3);
--frac: 3;
}
h1[id^="hockey-shooter"][id$="4"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--4);
--frac: 4;
}
h1[id^="hockey-shooter"][id$="5"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--5);
--frac: 5;
}
h1[id^="hockey-shooter"][id$="6"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--6);
--frac: 6;
}
h1[id^="hockey-shooter"][id$="7"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--7);
--frac: 7;
}
h1[id^="hockey-shooter"][id$="8"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--8);
--frac: 8;
}
h1[id^="hockey-shooter"][id$="9"] ~table tr:nth-child(3) td:nth-child(9) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(9)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/black_hole.png");
}
h1[id^="black-hole"][id$="0"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--0);
--frac: 0;
}
h1[id^="black-hole"][id$="1"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--1);
--frac: 1;
}
h1[id^="black-hole"][id$="2"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--2);
--frac: 2;
}
h1[id^="black-hole"][id$="3"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--3);
--frac: 3;
}
h1[id^="black-hole"][id$="4"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--4);
--frac: 4;
}
h1[id^="black-hole"][id$="5"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--5);
--frac: 5;
}
h1[id^="black-hole"][id$="6"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--6);
--frac: 6;
}
h1[id^="black-hole"][id$="7"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--7);
--frac: 7;
}
h1[id^="black-hole"][id$="8"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--8);
--frac: 8;
}
h1[id^="black-hole"][id$="9"] ~table tr:nth-child(4) td:nth-child(9) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(10)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/punching_flower.png");
}
h1[id^="punching-flower"][id$="0"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--0);
--frac: 0;
}
h1[id^="punching-flower"][id$="1"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--1);
--frac: 1;
}
h1[id^="punching-flower"][id$="2"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--2);
--frac: 2;
}
h1[id^="punching-flower"][id$="3"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--3);
--frac: 3;
}
h1[id^="punching-flower"][id$="4"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--4);
--frac: 4;
}
h1[id^="punching-flower"][id$="5"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--5);
--frac: 5;
}
h1[id^="punching-flower"][id$="6"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--6);
--frac: 6;
}
h1[id^="punching-flower"][id$="7"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--7);
--frac: 7;
}
h1[id^="punching-flower"][id$="8"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--8);
--frac: 8;
}
h1[id^="punching-flower"][id$="9"] ~table tr:nth-child(1) td:nth-child(10) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(10)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/beehive.png");
}
h1[id^="beehive"][id$="0"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--0);
--frac: 0;
}
h1[id^="beehive"][id$="1"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--1);
--frac: 1;
}
h1[id^="beehive"][id$="2"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--2);
--frac: 2;
}
h1[id^="beehive"][id$="3"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--3);
--frac: 3;
}
h1[id^="beehive"][id$="4"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--4);
--frac: 4;
}
h1[id^="beehive"][id$="5"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--5);
--frac: 5;
}
h1[id^="beehive"][id$="6"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--6);
--frac: 6;
}
h1[id^="beehive"][id$="7"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--7);
--frac: 7;
}
h1[id^="beehive"][id$="8"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--8);
--frac: 8;
}
h1[id^="beehive"][id$="9"] ~table tr:nth-child(2) td:nth-child(10) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(10)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/flamethrower.png");
}
h1[id^="flamethrower"][id$="0"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--0);
--frac: 0;
}
h1[id^="flamethrower"][id$="1"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--1);
--frac: 1;
}
h1[id^="flamethrower"][id$="2"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--2);
--frac: 2;
}
h1[id^="flamethrower"][id$="3"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--3);
--frac: 3;
}
h1[id^="flamethrower"][id$="4"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--4);
--frac: 4;
}
h1[id^="flamethrower"][id$="5"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--5);
--frac: 5;
}
h1[id^="flamethrower"][id$="6"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--6);
--frac: 6;
}
h1[id^="flamethrower"][id$="7"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--7);
--frac: 7;
}
h1[id^="flamethrower"][id$="8"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--8);
--frac: 8;
}
h1[id^="flamethrower"][id$="9"] ~table tr:nth-child(3) td:nth-child(10) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(10)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/spring.png");
}
h1[id^="spring"][id$="0"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--0);
--frac: 0;
}
h1[id^="spring"][id$="1"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--1);
--frac: 1;
}
h1[id^="spring"][id$="2"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--2);
--frac: 2;
}
h1[id^="spring"][id$="3"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--3);
--frac: 3;
}
h1[id^="spring"][id$="4"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--4);
--frac: 4;
}
h1[id^="spring"][id$="5"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--5);
--frac: 5;
}
h1[id^="spring"][id$="6"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--6);
--frac: 6;
}
h1[id^="spring"][id$="7"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--7);
--frac: 7;
}
h1[id^="spring"][id$="8"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--8);
--frac: 8;
}
h1[id^="spring"][id$="9"] ~table tr:nth-child(4) td:nth-child(10) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(11)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/teleporter.png");
}
h1[id^="teleporter"][id$="0"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--0);
--frac: 0;
}
h1[id^="teleporter"][id$="1"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--1);
--frac: 1;
}
h1[id^="teleporter"][id$="2"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--2);
--frac: 2;
}
h1[id^="teleporter"][id$="3"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--3);
--frac: 3;
}
h1[id^="teleporter"][id$="4"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--4);
--frac: 4;
}
h1[id^="teleporter"][id$="5"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--5);
--frac: 5;
}
h1[id^="teleporter"][id$="6"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--6);
--frac: 6;
}
h1[id^="teleporter"][id$="7"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--7);
--frac: 7;
}
h1[id^="teleporter"][id$="8"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--8);
--frac: 8;
}
h1[id^="teleporter"][id$="9"] ~table tr:nth-child(1) td:nth-child(11) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(11)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/barbed_wire.png");
}
h1[id^="barbed-wire"][id$="0"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--0);
--frac: 0;
}
h1[id^="barbed-wire"][id$="1"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--1);
--frac: 1;
}
h1[id^="barbed-wire"][id$="2"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--2);
--frac: 2;
}
h1[id^="barbed-wire"][id$="3"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--3);
--frac: 3;
}
h1[id^="barbed-wire"][id$="4"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--4);
--frac: 4;
}
h1[id^="barbed-wire"][id$="5"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--5);
--frac: 5;
}
h1[id^="barbed-wire"][id$="6"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--6);
--frac: 6;
}
h1[id^="barbed-wire"][id$="7"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--7);
--frac: 7;
}
h1[id^="barbed-wire"][id$="8"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--8);
--frac: 8;
}
h1[id^="barbed-wire"][id$="9"] ~table tr:nth-child(2) td:nth-child(11) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(11)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/ice.png");
}
h1[id^="ice"][id$="0"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--0);
--frac: 0;
}
h1[id^="ice"][id$="1"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--1);
--frac: 1;
}
h1[id^="ice"][id$="2"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--2);
--frac: 2;
}
h1[id^="ice"][id$="3"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--3);
--frac: 3;
}
h1[id^="ice"][id$="4"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--4);
--frac: 4;
}
h1[id^="ice"][id$="5"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--5);
--frac: 5;
}
h1[id^="ice"][id$="6"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--6);
--frac: 6;
}
h1[id^="ice"][id$="7"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--7);
--frac: 7;
}
h1[id^="ice"][id$="8"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--8);
--frac: 8;
}
h1[id^="ice"][id$="9"] ~table tr:nth-child(3) td:nth-child(11) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(11)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/door.png");
}
h1[id^="door"][id$="0"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--0);
--frac: 0;
}
h1[id^="door"][id$="1"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--1);
--frac: 1;
}
h1[id^="door"][id$="2"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--2);
--frac: 2;
}
h1[id^="door"][id$="3"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--3);
--frac: 3;
}
h1[id^="door"][id$="4"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--4);
--frac: 4;
}
h1[id^="door"][id$="5"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--5);
--frac: 5;
}
h1[id^="door"][id$="6"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--6);
--frac: 6;
}
h1[id^="door"][id$="7"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--7);
--frac: 7;
}
h1[id^="door"][id$="8"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--8);
--frac: 8;
}
h1[id^="door"][id$="9"] ~table tr:nth-child(4) td:nth-child(11) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(12)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/one-way_door.png");
}
h1[id^="one-way-door"][id$="0"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--0);
--frac: 0;
}
h1[id^="one-way-door"][id$="1"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--1);
--frac: 1;
}
h1[id^="one-way-door"][id$="2"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--2);
--frac: 2;
}
h1[id^="one-way-door"][id$="3"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--3);
--frac: 3;
}
h1[id^="one-way-door"][id$="4"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--4);
--frac: 4;
}
h1[id^="one-way-door"][id$="5"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--5);
--frac: 5;
}
h1[id^="one-way-door"][id$="6"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--6);
--frac: 6;
}
h1[id^="one-way-door"][id$="7"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--7);
--frac: 7;
}
h1[id^="one-way-door"][id$="8"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--8);
--frac: 8;
}
h1[id^="one-way-door"][id$="9"] ~table tr:nth-child(1) td:nth-child(12) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(12)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/fan_platform.png");
}
h1[id^="fan-platform"][id$="0"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--0);
--frac: 0;
}
h1[id^="fan-platform"][id$="1"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--1);
--frac: 1;
}
h1[id^="fan-platform"][id$="2"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--2);
--frac: 2;
}
h1[id^="fan-platform"][id$="3"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--3);
--frac: 3;
}
h1[id^="fan-platform"][id$="4"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--4);
--frac: 4;
}
h1[id^="fan-platform"][id$="5"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--5);
--frac: 5;
}
h1[id^="fan-platform"][id$="6"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--6);
--frac: 6;
}
h1[id^="fan-platform"][id$="7"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--7);
--frac: 7;
}
h1[id^="fan-platform"][id$="8"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--8);
--frac: 8;
}
h1[id^="fan-platform"][id$="9"] ~table tr:nth-child(2) td:nth-child(12) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(12)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="barbed-wire-2"][id$="0"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--0);
--frac: 0;
}
h1[id^="barbed-wire-2"][id$="1"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--1);
--frac: 1;
}
h1[id^="barbed-wire-2"][id$="2"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--2);
--frac: 2;
}
h1[id^="barbed-wire-2"][id$="3"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--3);
--frac: 3;
}
h1[id^="barbed-wire-2"][id$="4"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--4);
--frac: 4;
}
h1[id^="barbed-wire-2"][id$="5"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--5);
--frac: 5;
}
h1[id^="barbed-wire-2"][id$="6"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--6);
--frac: 6;
}
h1[id^="barbed-wire-2"][id$="7"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--7);
--frac: 7;
}
h1[id^="barbed-wire-2"][id$="8"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--8);
--frac: 8;
}
h1[id^="barbed-wire-2"][id$="9"] ~table tr:nth-child(3) td:nth-child(12) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(12)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="ice-2"][id$="0"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--0);
--frac: 0;
}
h1[id^="ice-2"][id$="1"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--1);
--frac: 1;
}
h1[id^="ice-2"][id$="2"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--2);
--frac: 2;
}
h1[id^="ice-2"][id$="3"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--3);
--frac: 3;
}
h1[id^="ice-2"][id$="4"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--4);
--frac: 4;
}
h1[id^="ice-2"][id$="5"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--5);
--frac: 5;
}
h1[id^="ice-2"][id$="6"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--6);
--frac: 6;
}
h1[id^="ice-2"][id$="7"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--7);
--frac: 7;
}
h1[id^="ice-2"][id$="8"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--8);
--frac: 8;
}
h1[id^="ice-2"][id$="9"] ~table tr:nth-child(4) td:nth-child(12) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(13)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/hydrant.png");
}
h1[id^="hydrant"][id$="0"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--0);
--frac: 0;
}
h1[id^="hydrant"][id$="1"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--1);
--frac: 1;
}
h1[id^="hydrant"][id$="2"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--2);
--frac: 2;
}
h1[id^="hydrant"][id$="3"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--3);
--frac: 3;
}
h1[id^="hydrant"][id$="4"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--4);
--frac: 4;
}
h1[id^="hydrant"][id$="5"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--5);
--frac: 5;
}
h1[id^="hydrant"][id$="6"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--6);
--frac: 6;
}
h1[id^="hydrant"][id$="7"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--7);
--frac: 7;
}
h1[id^="hydrant"][id$="8"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--8);
--frac: 8;
}
h1[id^="hydrant"][id$="9"] ~table tr:nth-child(1) td:nth-child(13) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(13)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/tire.png");
}
h1[id^="tire"][id$="0"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--0);
--frac: 0;
}
h1[id^="tire"][id$="1"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--1);
--frac: 1;
}
h1[id^="tire"][id$="2"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--2);
--frac: 2;
}
h1[id^="tire"][id$="3"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--3);
--frac: 3;
}
h1[id^="tire"][id$="4"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--4);
--frac: 4;
}
h1[id^="tire"][id$="5"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--5);
--frac: 5;
}
h1[id^="tire"][id$="6"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--6);
--frac: 6;
}
h1[id^="tire"][id$="7"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--7);
--frac: 7;
}
h1[id^="tire"][id$="8"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--8);
--frac: 8;
}
h1[id^="tire"][id$="9"] ~table tr:nth-child(2) td:nth-child(13) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(13)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="barbed-wire-3"][id$="0"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--0);
--frac: 0;
}
h1[id^="barbed-wire-3"][id$="1"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--1);
--frac: 1;
}
h1[id^="barbed-wire-3"][id$="2"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--2);
--frac: 2;
}
h1[id^="barbed-wire-3"][id$="3"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--3);
--frac: 3;
}
h1[id^="barbed-wire-3"][id$="4"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--4);
--frac: 4;
}
h1[id^="barbed-wire-3"][id$="5"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--5);
--frac: 5;
}
h1[id^="barbed-wire-3"][id$="6"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--6);
--frac: 6;
}
h1[id^="barbed-wire-3"][id$="7"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--7);
--frac: 7;
}
h1[id^="barbed-wire-3"][id$="8"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--8);
--frac: 8;
}
h1[id^="barbed-wire-3"][id$="9"] ~table tr:nth-child(3) td:nth-child(13) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(13)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/missing.png");
}
h1[id^="ice-3"][id$="0"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--0);
--frac: 0;
}
h1[id^="ice-3"][id$="1"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--1);
--frac: 1;
}
h1[id^="ice-3"][id$="2"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--2);
--frac: 2;
}
h1[id^="ice-3"][id$="3"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--3);
--frac: 3;
}
h1[id^="ice-3"][id$="4"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--4);
--frac: 4;
}
h1[id^="ice-3"][id$="5"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--5);
--frac: 5;
}
h1[id^="ice-3"][id$="6"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--6);
--frac: 6;
}
h1[id^="ice-3"][id$="7"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--7);
--frac: 7;
}
h1[id^="ice-3"][id$="8"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--8);
--frac: 8;
}
h1[id^="ice-3"][id$="9"] ~table tr:nth-child(4) td:nth-child(13) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(14)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/blue_platform.png");
}
h1[id^="blue-platform"][id$="0"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--0);
--frac: 0;
}
h1[id^="blue-platform"][id$="1"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--1);
--frac: 1;
}
h1[id^="blue-platform"][id$="2"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--2);
--frac: 2;
}
h1[id^="blue-platform"][id$="3"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--3);
--frac: 3;
}
h1[id^="blue-platform"][id$="4"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--4);
--frac: 4;
}
h1[id^="blue-platform"][id$="5"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--5);
--frac: 5;
}
h1[id^="blue-platform"][id$="6"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--6);
--frac: 6;
}
h1[id^="blue-platform"][id$="7"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--7);
--frac: 7;
}
h1[id^="blue-platform"][id$="8"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--8);
--frac: 8;
}
h1[id^="blue-platform"][id$="9"] ~table tr:nth-child(1) td:nth-child(14) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(14)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/ferris_wheel.png");
}
h1[id^="ferris-wheel"][id$="0"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--0);
--frac: 0;
}
h1[id^="ferris-wheel"][id$="1"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--1);
--frac: 1;
}
h1[id^="ferris-wheel"][id$="2"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--2);
--frac: 2;
}
h1[id^="ferris-wheel"][id$="3"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--3);
--frac: 3;
}
h1[id^="ferris-wheel"][id$="4"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--4);
--frac: 4;
}
h1[id^="ferris-wheel"][id$="5"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--5);
--frac: 5;
}
h1[id^="ferris-wheel"][id$="6"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--6);
--frac: 6;
}
h1[id^="ferris-wheel"][id$="7"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--7);
--frac: 7;
}
h1[id^="ferris-wheel"][id$="8"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--8);
--frac: 8;
}
h1[id^="ferris-wheel"][id$="9"] ~table tr:nth-child(2) td:nth-child(14) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(14)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/treadmill.png");
}
h1[id^="treadmill"][id$="0"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--0);
--frac: 0;
}
h1[id^="treadmill"][id$="1"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--1);
--frac: 1;
}
h1[id^="treadmill"][id$="2"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--2);
--frac: 2;
}
h1[id^="treadmill"][id$="3"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--3);
--frac: 3;
}
h1[id^="treadmill"][id$="4"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--4);
--frac: 4;
}
h1[id^="treadmill"][id$="5"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--5);
--frac: 5;
}
h1[id^="treadmill"][id$="6"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--6);
--frac: 6;
}
h1[id^="treadmill"][id$="7"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--7);
--frac: 7;
}
h1[id^="treadmill"][id$="8"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--8);
--frac: 8;
}
h1[id^="treadmill"][id$="9"] ~table tr:nth-child(3) td:nth-child(14) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(4) td:nth-child(14)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/fan.png");
}
h1[id^="fan"][id$="0"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--0);
--frac: 0;
}
h1[id^="fan"][id$="1"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--1);
--frac: 1;
}
h1[id^="fan"][id$="2"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--2);
--frac: 2;
}
h1[id^="fan"][id$="3"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--3);
--frac: 3;
}
h1[id^="fan"][id$="4"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--4);
--frac: 4;
}
h1[id^="fan"][id$="5"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--5);
--frac: 5;
}
h1[id^="fan"][id$="6"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--6);
--frac: 6;
}
h1[id^="fan"][id$="7"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--7);
--frac: 7;
}
h1[id^="fan"][id$="8"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--8);
--frac: 8;
}
h1[id^="fan"][id$="9"] ~table tr:nth-child(4) td:nth-child(14) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(1) td:nth-child(15)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/gear.png");
}
h1[id^="gear"][id$="0"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--0);
--frac: 0;
}
h1[id^="gear"][id$="1"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--1);
--frac: 1;
}
h1[id^="gear"][id$="2"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--2);
--frac: 2;
}
h1[id^="gear"][id$="3"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--3);
--frac: 3;
}
h1[id^="gear"][id$="4"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--4);
--frac: 4;
}
h1[id^="gear"][id$="5"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--5);
--frac: 5;
}
h1[id^="gear"][id$="6"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--6);
--frac: 6;
}
h1[id^="gear"][id$="7"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--7);
--frac: 7;
}
h1[id^="gear"][id$="8"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--8);
--frac: 8;
}
h1[id^="gear"][id$="9"] ~table tr:nth-child(1) td:nth-child(15) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(2) td:nth-child(15)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/purple_platform.png");
}
h1[id^="purple-platform"][id$="0"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--0);
--frac: 0;
}
h1[id^="purple-platform"][id$="1"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--1);
--frac: 1;
}
h1[id^="purple-platform"][id$="2"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--2);
--frac: 2;
}
h1[id^="purple-platform"][id$="3"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--3);
--frac: 3;
}
h1[id^="purple-platform"][id$="4"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--4);
--frac: 4;
}
h1[id^="purple-platform"][id$="5"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--5);
--frac: 5;
}
h1[id^="purple-platform"][id$="6"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--6);
--frac: 6;
}
h1[id^="purple-platform"][id$="7"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--7);
--frac: 7;
}
h1[id^="purple-platform"][id$="8"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--8);
--frac: 8;
}
h1[id^="purple-platform"][id$="9"] ~table tr:nth-child(2) td:nth-child(15) {
--color: var(--9);
--frac: 9;
}
tr:nth-child(3) td:nth-child(15)::after {
background-image: url("/mnt/Newton/repos/ultimate-kikken-horce/images/blocks/red_platform.png");
}
h1[id^="red-platform"][id$="0"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--0);
--frac: 0;
}
h1[id^="red-platform"][id$="1"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--1);
--frac: 1;
}
h1[id^="red-platform"][id$="2"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--2);
--frac: 2;
}
h1[id^="red-platform"][id$="3"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--3);
--frac: 3;
}
h1[id^="red-platform"][id$="4"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--4);
--frac: 4;
}
h1[id^="red-platform"][id$="5"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--5);
--frac: 5;
}
h1[id^="red-platform"][id$="6"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--6);
--frac: 6;
}
h1[id^="red-platform"][id$="7"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--7);
--frac: 7;
}
h1[id^="red-platform"][id$="8"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--8);
--frac: 8;
}
h1[id^="red-platform"][id$="9"] ~table tr:nth-child(3) td:nth-child(15) {
--color: var(--9);
--frac: 9;
}